# Add requirements not contained in standard MNE-Python-Installation
# The newest development version fixes the openGL-issue on windows.
git+https://github.com/pyqtgraph/pyqtgraph@master
pyopengl
vispy
PythonQwt