# Add requirements not contained in standard MNE-Python-Installation
pyqtgraph
# Until https://github.com/pyqtgraph/pyqtgraph/issues/1760 could be fixed this is a workaround to make OpenGL work on Windows
pyqtgraph==0.11.1; platform_system == 'Windows'
pyopengl
vispy
PythonQwt